<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lettf</title>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
</head>

<body>
    <main class="main-container">
        <div class="content-container">
            <div class="white-container">
                <div class="nav-container">
                    <div>
                        <img class="logo-nav" src="{% static 'img/logo_nav.png' %}" alt="">
                    </div>

                    <div class="about-container">
                        <a href="">ABOUT</a>
                    </div>
                </div>

                <div class="white-content-container">
                    <div>
                        <div class="slogan-container margin-decrease">
                            <p>기억 속&nbsp;</p>
                            <p class="slogan-mongdol">편지</p>
                            <p>에서</p>
                        </div>

                        <div class="slogan-container">
                            <p>추억이 담긴&nbsp;</p>
                            <p class="slogan-yuniverse">폰트</p>
                            <p>로</p>
                        </div>

                        <div>
                            <p class="slogan-leferi">편지 3장으로 폰트를 만들고 원하는 문구를 써 보세요!</p>
                        </div>
                    </div>

                    <div>
                        <img class="icon_letter" src="{% static 'img/icon_letter.png' %}" alt="">
                    </div>

                    <div>
                        <input class="go-button" type="button" value="지금 바로 만들기">
                    </div>
                </div>
            </div>

            <div class="yellow-container">
                <div class="yellow-content-container">
                    <div class="introduction-title-container">
                        <div class="introduction-title">
                            <p class="upper-bar">-</p>
                            <p class="title">디지털 폰트로 되살아난 아날로그 편지</p>
                            <p class="lower-bar">-</p>
                        </div>
                    </div>

                    <div class="introduction-content-container">
                        <div class="introduction-content">
                            <p>사람의 글씨는 지문처럼 각자의 기억을 담고 있습니다. 프로젝트 Lettf는</p>
                            <p>아날로그 손글씨에 담긴 기억을 추출해 디지털 폰트로 재현합니다. 편지</p>
                            <p>사진 3장과 함께 지금 바로 간편하게 폰트를 만들어보세요.</p>
                        </div>

                        <div>
                            <img class="logo-blur" src="{% static 'img/logo_blur.png' %}" alt="">
                        </div>


                    </div>
                </div>

                <div class="yellow-content-container">
                    <div>
                        <p>STEP1. FILE UPLOAD</p>
                    </div>

                    <div id="step-1">
                        <div id="preview"></div>
                        <input type="file" id="imgs-upload" onchange="previewFiles()" accept='image/jpeg,image/png'
                            style="display:none;" multiple>
                        <label for="imgs-upload" name='imgs' id="upload-text">파일 업로드</label>
                        <input type="button" id="submit-btn" value="작성하기">
                        <input type="button" id="download" value="다운로드">

                        <div>
                            <textarea id="user-txt"
                                placeholder="이미지로 보고 싶은 문장을 입력해주세요&#13;&#10;(없다면 기본문장이 출력됩니다)"></textarea>
                        </div>
                    </div>
                    
                    <div id="step-2" style="display: none;">
                        <div id="myBar"></div>
                    </div>

                    <div id="step-3" style="display: none;">
                        <img src="#" id="rlt-img">
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-container">
            <div class="footer-content-container">
                <div>
                    <p class="footer-title">Korea Aerospace University Hackathon</p>
                    <p class="footer-body">The Lettf project is designed by student of KAU</p>
                    <p class="footer-body">All copyrights belongs to Team “Meet me on Friday”</p>
                    <img class="logo-footer" src="{% static 'img/logo_footer.png' %}" alt="">
                </div>

                <div class="footer-right">
                    <p class="footer-title">Team</p>
                    <p class="footer-body">팀원 소개 팀원 소개 팀원 소개 팀원 소개 팀원 소개 팀원 소개</p>
                    <p class="footer-body">팀원 소개 팀원 소개 팀원 소개 팀원 소개 팀원 소개 팀원 소개</p>
                    <div class="sns-icons">
                        <img class="instagram-icon" src="{% static 'img/instagram_footer.png' %}" alt="">
                        <img class="twitter-icon" src="{% static 'img/twitter_footer.png' %}" alt="">
                        <img class="facebook-icon" src="{% static 'img/facebook_footer.png' %}" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </main>
</body>

</html>