/* set */
a {
    text-decoration: none;
}

.main-container {
    margin: 30px 300px;
}

.content-container {
    
}

.white-container {

}

/* nav */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.logo-nav {
    width: 60px;
}

.white-content-container {
    display: flex;
}

